.country-card {
  background-color: var(--color-element);
  border-radius: 5px;
  overflow: hidden; /* Ensures the flag corners follow the border-radius */
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.country-card:hover {
  transform: translateY(-5px);
}

.card-image {
  height: 160px; /* Fixed height for consistency in the grid */
  width: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This prevents the flags from stretching */
}

.card-content {
  padding: 24px 24px 40px 24px;
}

.country-name {
  margin-bottom: 16px;
  font-size: 1.1rem;
  font-weight: 800;
}

.country-stats {
  list-style: none;
  font-size: 0.9rem;
}

.country-stats li {
  margin-bottom: 8px;
}

.country-stats strong {
  font-weight: 600;
}