.detail-page {
  padding: 40px 5%;
}

.back-button {
  background-color: var(--el-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 60px;
}

.detail-container {
  display: flex;
  gap: 80px;
  align-items: center;
}

.detail-flag img {
  width: 100%;
  max-width: 560px;
  box-shadow: var(--box-shadow);
}

.detail-info {
  flex: 1;
}

.info-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px 0;
}

.border-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.border-tag {
  background-color: var(--el-color);
  color: var(--text-color);
  padding: 5px 20px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  font-size: 0.8rem;
}

/* Mobile Layout */
@media (max-width: 1024px) {
  .detail-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .info-columns {
    flex-direction: column;
  }
}